.btn-primary {
    &.no-style.active {
        color: $btn-primary-color;
        border-color: $btn-primary-color;
        background-color: $btn-primary-bg;
        box-shadow: none;

        &:hover {
            background-color: $btn-primary-hover;
        }
    }

    &:hover {
        color: $btn-primary-color;
        border-color: $btn-primary-border;
        background-color: $btn-primary-hover;
    }

    &:focus, &:active, &:active:focus {
        border-color: $btn-primary-border;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(126, 61, 183, 0.6);
    }
}

.btn-danger {
    &:hover {
        color: $btn-danger-color;
        border-color: $btn-danger-border;
        background-color: $btn-primary-hover;
    }

    &:focus, &:active, &:active:focus {
        border-color: $btn-danger-border;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(126, 61, 183, 0.6);
    }
}

.btn-default {
    &:hover {
        color: $btn-default-color;
        border-color: $c-charcoal;
        background-color: $c-panel-mix;
    }

    &:focus, &:active, &:active:focus {
        border-color: $c-charcoal;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(126, 61, 183, 0.6);
    }
}

[role="button"] {
    cursor: pointer;
}

// a.btn.link.active {
//     background-color: inherit;
//     border-color: inherit;
//     color: inherit;
// }
