$spinkit-spinner-color: $c-main;

@import "node_modules/spinkit/scss/spinners/10-fading-circle";

.ember-load-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.fw-loading {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
