.pagination-centered {
    @extend .text-center;
}
.pagination {
    border: 1px solid $btn-primary-border;
    border-radius: 7px;

    li {
        a, span, &.disabled > a, &.disabled > span {
            &, &:hover, &:focus {
                border-color: $btn-primary-border;
                border-top: none;
                border-bottom: none;
            }
        }

        a, span, a:focus, span:focus {
            background-color: $btn-primary-bg;

            &:hover {
                background-color: $btn-primary-hover;
            }
        }

        &.disabled > a, &.disabled > span, &.disabled > a:hover, &.disabled > span:hover {
            background-color: darken($btn-primary-bg, 5%);
        }

        &:first-child a {
            border-left: none;
            border-radius: 6px 0 0 6px;
        }
        &:last-child a {
            border-right: none;
            border-radius: 0 6px 6px 0;
        }
    }
}
