{{#if hasHeader}}
    <header class="panel-heading clearfix">
        {{{yield (hash header=true)}}}
    </header>
{{/if}}

{{#if hasBody}}
    <div class="panel-body clearfix" style={{if scrollable 'overflow-x: auto;'}}>
        {{{yield (hash body=true)}}}
    </div>
{{/if}}

{{#if hasFooter}}
    <footer class="panel-footer clearfix">
        {{{yield (hash footer=true)}}}
    </footer>
{{/if}}
