<FwDropdownToggle @tagName={{toggleTag}} @style={{toggleStyle}} @label={{label}} @icon={{icon}} @iconOpen={{iconOpen}} @iconClosed={{iconClosed}} @active={{active}} />
<div class="dropdown-menu {{if right 'dropdown-menu-right'}}">
    <ul class="fw-collection-ul link-ul">
        {{yield}}
    </ul>
</div>
