{{label}}
{{#if icon}}
    <i class='{{icon}}'/>
{{else}}
    {{#if iconOpen}}
        <i class='{{iconOpen}} icon-open'/>
    {{/if}}
    {{#if iconClosed}}
        <i class='{{iconClosed}} icon-closed'/>
    {{/if}}
{{/if}}
