<span class='form-control'>{{_filename}}</span>
<input type="file"
    class='hidden'
    onchange={{action 'updateFile'}}
    accept={{accept}}
    multiple={{multiple}}
    />
<span title="Update" class='input-group-addon'>
    <i class='fa-solid fa-file-arrow-up'/>
</span>
