<LiquidWormhole @class="fullscreen-modal-container" @click={{action "clickOverlay"}}>
    <div class={{sizeClass}}>
        {{#if hasBlock}}
            {{yield (hash
                confirm=(action "confirm")
                closeModal=(action "close")
            )}}
        {{else}}
            {{component
                modalPath
                model=model
                confirm=(action "confirm")
                closeModal=(action "close")
            }}
        {{/if}}
    </div>
</LiquidWormhole>
