<FwTopLink @route='index' @class="fw-app-info pull-left clearfix" @tagName='section'>
    <img class="fw-app-logo pull-left" src="{{logo}}" />
    {{#if config.shortName}}
        <span class="fw-app-name full-name pull-left">{{config.name}}</span>
        <span class="fw-app-name short-name pull-left">{{config.shortName}}</span>
    {{else}}
        <span class="fw-app-name pull-left">{{config.name}}</span>
    {{/if}}
</FwTopLink>
