<div class={{if hasBlock "input-group"}}>
    {{{yield (hash prepend=true)}}}
    <Input @value={{value}} class="form-control" @showCount={{showCount}} @maxlength={{characterLimit}} @max={{max}} @height={{height}} @disabled={{disabled}} placeholder={{placeholder}} @width={{width}} @type={{type}} @update={{update}} @onblur={{onblur}} @focus={{focus}} @focus-out={{focus-out}} @insert-newline={{insert-newline}} />
    {{{yield (hash append=true)}}}
</div>
{{#if showCount}}
    <div title={{concat charactersRemaining " characters remaining"}} class={{countClass}}>
        {{charactersRemaining}}
    </div>
{{/if}}
