<FwSpinButton @buttonIcon={{readonly buttonIcon}} @buttonSize={{readonly buttonSize}} @buttonType={{readonly buttonState}} @buttonTitle={{readonly buttonTitle}} @spinIcon={{readonly spinIcon}} @autoWidth={{readonly autoWidth}} @disableWhen={{readonly disableWhen}} @submitting={{submitting}} @type={{readonly type}} @tabindex={{readonly tabindex}} @timeout={{false}} @action={{action "click"}} @fixWidth={{or state.rejected state.resolved}} @class={{concatenatedClasses}} @progress={{progress}}>
    {{#if state.rejected}}
        <i class="fa-solid fa-fw fa-xmark"></i>
    {{else if state.resolved}}
        <i class="fa-solid fa-fw fa-check"></i>
    {{else}}
        {{#if hasBlock}}
            {{{yield}}}
        {{else}}
            {{buttonText}}
        {{/if}}
    {{/if}}
</FwSpinButton>
