{{#if (and buttonIcon (not (or showSpinner fixWidth)))}}
    <i class="{{buttonIcon}}"></i>
{{/if}}

{{#if showSpinner}}
    {{#if progressWidth}}
        <div class="button-progress" style={{progressWidth}} />
    {{/if}}
    <i class="fa-fw fa-spin {{spinIcon}}" style="margin: 0 auto;"></i>
{{else}}
    {{#if hasBlock}}
        {{{yield}}}
    {{else}}
        {{buttonText}}
    {{/if}}
{{/if}}
