{{#if showSpinner}}
    <i class="fa-fw fa-spin {{spinIcon}}" style="margin: 0 auto;"></i>
{{else if _taskHasRan}}
    <i class="{{buttonIcon}}"></i>
{{else}}
    {{#if buttonIcon}}
        <i class="{{buttonIcon}}"></i>
    {{/if}}

    {{#if hasBlock}}
        {{{yield}}}
    {{else}}
        {{buttonText}}
    {{/if}}
{{/if}}
