<div class={{if hasBlock "input-group"}}>
    {{{yield (hash prepend=true)}}}
    <TextareaAutosize @value={{value}} @maxlength={{characterLimit}} @max={{max}} @class="form-control" @autoresize={{autoresize}} @showCount={{showCount}} @rows={{rows}} @min-height={{min-height}} @max-height={{max-height}} @placeholder={{placeholder}} @disabled={{disabled}} @name={{name}} @focus={{focus}} @update={{update}} @onblur={{onblur}} @resize={{none}} />
    {{{yield (hash append=true)}}}
</div>
{{#if showCount}}
    <div title={{concat charactersRemaining " characters remaining"}} class={{countClass}}>
        {{charactersRemaining}}
    </div>
{{/if}}
