{{#if label}}
    <label class="control-label" for="{{inputId}}">{{label}}</label>
    {{#if infoText}}
        <FwInfoIcon @info={{infoText}} />
    {{/if}}
    {{{afterLabel}}}
{{/if}}
<FwTextarea @value={{value}} @id={{inputId}} @placeholder={{placeholder}} @name={{name}} @disabled={{disabled}} @maxlength={{maxlength}} @maxCount={{maxCount}} @showCount={{showCount}} @focus={{focus}} @onblur={{action "focusOut"}} @update={{action "update"}} @max-height={{max-height}} @min-height={{min-height}} @rows={{rows}} />
{{#if showErrorMessage}}
    <span class="help-block">{{v-get model valuePath 'message'}}</span>
{{else if hasBlock}}
    {{yield}}
{{else if helpText}}
    <span class="help-block">{{helpText}}</span>
{{/if}}
