{{yield
    value
    (if showErrorMessage (v-get model valuePath 'message') '')
    (hash
        update=(action 'update')
        onblur=(action 'focusOut')
        updateValidate=(action 'updateValidate')
    )
}}
