{{#if label}}
    <label class="control-label" for="{{inputId}}">{{label}}</label>
    {{#if infoText}}
        <FwInfoIcon @info={{infoText}} />
    {{/if}}
    {{{afterLabel}}}
{{/if}}
<FwInput @value={{value}} @id={{inputId}} @type={{type}} @placeholder={{placeholder}} @name={{name}} @disabled={{disabled}} @readonly={{readonly}} @size={{size}} @maxlength={{maxlength}} @maxCount={{maxCount}} @showCount={{showCount}} @autocomplete={{autocomplete}} @autofocus={{autofocus}} @novalidate={{novalidate}} @min={{min}} @max={{max}} @step={{step}} @pattern={{pattern}} @focus={{focus}} @onblur={{action "focusOut"}} @update={{action "update"}} />
{{#if showErrorMessage}}
    <span class="help-block">{{v-get model valuePath 'message'}}</span>
{{else if hasBlock}}
    {{yield}}
{{else if helpText}}
    <span class="help-block">{{helpText}}</span>
{{/if}}
