.ember-power-select-trigger:focus,
.ember-basic-dropdown--focus-inside .ember-power-select-trigger {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(126, 61, 183, 0.6);
}

.ember-power-select-multiple-option {
    margin: 3px 3px 2px 0;
}

.ember-power-select-multiple-options,
.ember-power-select-trigger {
    padding: 0 5px;
}

// make the powerselect the same height as a normal select, and make it grow
.ember-power-select-trigger {
    min-height: 36px;
    height: 100%;

    // fix wrong mouse pointer
    &[aria-disabled=true] {
        cursor: not-allowed;
    }
}

.has-error .ember-power-select-trigger {
    border-bottom: 1px solid $state-danger-border;
    border-top: 1px solid $state-danger-border;
    border-right: 1px solid $state-danger-border;
    border-left: 1px solid $state-danger-border;
}

.has-error label {
    color: $state-danger-text;
}

// selected disabled looks awkward, clean it up a bit
.ember-power-select-option[aria-disabled="true"] {
    &[aria-selected="true"] {
        background-color: #BBBBBB;
    }
    &[aria-current="true"] {
        color: #999999;
        background-color: initial;
    }
}
