$ember-power-select-highlighted-color: $c-flip;
$ember-power-select-background-color: $c-accent-mix;
$ember-power-select-highlighted-background: $c-accent;
$ember-power-select-selected-background: $c-background;
$ember-power-select-multiple-selection-background-color: $c-main;
$ember-power-select-multiple-selection-color: $c-flip;
$ember-power-select-border-color: $c-main;
$ember-power-select-focus-border-color: $c-main;
$ember-power-select-number-of-visible-options: 10;
