// hide the dropdown toggle icon based on the open or closed state
.dropdown {
    &.open > .dropdown-toggle > .icon-closed,
    &:not(.open) > .dropdown-toggle > .icon-open {
        display: none;
    }
}

// make dropdowns inside dropdowns show as active
.dropdown-menu > li.open > a {
    background-color: #9198aa;
}

// copy these from Bootstrap v4 as there are too many breaking changes to update so far
// however, it looks bad on mobile. on mobile make it dropdown
.dropleft, .dropright {
    @extend .dropdown;
}
@media(min-width: 501px) {
    .dropright,
    .dropleft {
        position: relative;
    }
    .dropright {
        .dropdown-menu {
            top: 0;
            right: auto;
            left: 100%;
            margin-top: 0;
            margin-left: 2px;
        }

        .dropdown-toggle {
            &::after {
                vertical-align: 0;
            }
        }
    }
    .dropleft {
        .dropdown-menu {
            top: 0;
            right: 100%;
            left: auto;
            margin-top: 0;
            margin-right: 2px;
        }

        .dropdown-toggle {
            &::before {
              vertical-align: 0;
            }
        }
    }
}
