.fw-header {
    @extend .clearfix;
    background: $c-main;
    width: 100%;
    height: 60px;

    .fw-app-info {
        cursor: pointer;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 5px;

        .fw-app-logo {
            height: 50px;
            width: 50px;
            margin-right: 5px;
        }

        .fw-app-name {
            margin-left: 5px;
            color: $c-flip;
            font-size: 24px;
            font-weight: 700;

            @media only screen and (max-width: 500px) {
                font-size: 20px;
                &.full-name {
                    display: none;
                }
            }
            @media only screen and (min-width: 501px) {
                &.short-name {
                    display: none;
                }
            }
        }
    }

    .fw-header-link {
        height: 100%;
        min-height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .link-text {
            color: $c-flip;
            font-size: 14px;
            line-height: 16px;
            user-select: none;
            text-align: center;
            padding: 0 17px;

            strong {
                font-weight: 700;
            }
        }

        &:hover,
        &.open {
            background: $c-charcoal;
        }

        &.border-right {
            border-right: 1px solid $c-flip;
        }
    }
}

.fw-main-nav {
    // Dimensions
    width: 100%;
    height: 40px;
    //overflow-x: auto;
    //overflow-y: hidden;

    // Style
    background: $c-charcoal;

    & > ul {
        width: 100%;
        height: 100%;

        // Flex config
        display: flex;
        justify-content: center;
        align-items: center;

      	& > li {
            list-style: none;
            margin: 0 6px;


            &.dropdown.open > a {
                background: $c-accent;
            }

          	& > a {
        		display: block;
        		padding: 4px 5px;
        		color: $c-flip;
        		text-decoration: none;

        		&.active {
        			font-weight: 700;
        		}

        		&:hover {
        			background: $c-accent;
        		}
            }
        }
    }
}

// make the header sticky except on mobile
@media(min-width: 501px) {
    .fw-sticky-header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-clip: padding-box;
        z-index: 1030;
    }
}
