.fw-collection-ul {
    list-style: none;
    padding: 5px;

    & > li,
    &.link-ul > a {
        @include clearfix();
        padding: 5px 10px;

        &:hover {
            background-color: $c-accent;
            color: $c-flip;
        }
    }

    // stop too much padding from dropdown menu items
    &.dropdown-menu > li > a {
        padding: initial;
    }
}

.fw-collection-ul.link-ul {
    a {
        color: inherit;
        text-decoration: none;
    }

    // if the link is a direct child, make it display as a list item
    & > a {
        display: list-item;
    }

    & > li.active,
    & > a.active {
        background-color: $body-bg;

        &:hover {
            background-color: $c-accent;
            color: $c-flip;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.fw-collection-ul.hover-buttons > li {
    button {
        visibility: hidden;
        float: right;
    }

    &:hover {
        button {
            visibility: visible;
        }
    }
}
