.fullscreen-modal-container {
    overflow-y: auto;
    min-height: 100vh;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	background-color: fade-out($c-charcoal, 0.15);
}

.fullscreen-modal {
    position: relative;
	pointer-events: auto;
	padding-top: 30px;
	padding-bottom: 30px;
    margin: 30px auto;
    max-width: 900px;
    width: 100%;
}

.fullscreen-modal-xs {
    max-width: 300px;
}

.fullscreen-modal-sm {
    max-width: 600px;
}

.fullscreen-modal-md {
    max-width: 900px;
}

.fullscreen-modal-lg {
    max-width: 1200px;
}

.fullscreen-modal-xl {
    max-width: 1500px;
}

.fullscreen-modal-full {
    max-width: 95vw;
}
.fw-modal {
	margin: 0 auto;
	float: none;
}
