.fw-alert-passive {
    animation: fade-out;
    animation-delay: 10s;
    animation-iteration-count: 1;

    &:hover {
        animation: fade-in
    }
}

.alert-container.global > .alert {
    margin-bottom: 0;
    border-radius: 0;

    .close {
        opacity: 1;
        text-shadow: none;

        &:hover {
            opacity: 0.7;
            text-shadow: none;
        }
    }

    &.alert-success {
        background-color: $c-success;
        color: #FFF;
    }

    &.alert-danger {
        background-color: $c-danger;
        color: #FFF;
    }
}

/** Position for notifications to show in the top bar below the header */
.alert-container {
    // both types common properties
    &.fixed, &.modal-top {
        margin: 0 auto 0 auto;
        left: 0;
        right: 0;
        z-index: 1030;
    }
    // fixed shows below the fw-header, constant position
    &.fixed {
        max-width: 600px;
        position: fixed;
        top: 110px;

        article:last-child {
            margin-bottom: 0px;
        }
    }
    // modal top is sticky, scrolls into view
    &.modal-top {
        position: sticky;
        top: 0;

        article:last-child {
            margin-bottom: 15px;
        }
    }
}

// Show notifications on the top on mobile, above the header
// Done since the header is not sticky on mobile
@media(max-width: 500px) {
    .alert-container.fixed {
        position: sticky; // shifts the header below the notification
        top: 0; // top of screen
    }
}
