.progress-button {
    position: relative;
    & > .button-progress {
        background: $c-info;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0%;
        transition: width 1s ease;
    }
}
