//David's css
.scrollable {
   margin-right: -11px;
   padding-right: 11px;
   margin-bottom: -11px;
   padding-bottom: 11px;
    // hide the overflow when not being hovered on
    &.hideScroll {
        overflow: hidden;
    }
    //on hover show the scrollbar
    &.hideScroll:hover, &.noHide {
        overflow: auto;
    }
   &.thin::-webkit-scrollbar {
       width: .5em;
       height: .5em;
   }

   &.medium::-webkit-scrollbar {
       width: .75em;
       height: .75em;
   }
   &.thick::-webkit-scrollbar {
       width: 1em;
       height: 1em;
   }
   &::-webkit-scrollbar-corner {
       color: $c-panel-mix;
   }
   &::-webkit-scrollbar-thumb {
       background-color: $c-background;
       transition: opacity .2s linear;
       border-radius: 7px;
   }

   &.firefox-scroll {
       scrollbar-color: $c-background $c-panel-mix;

       &.thin {
           scrollbar-width: thin;
       }
   }
}
