<FwContentBox as |section|>
    {{#if section.header}}
        <h1 class="panel-title"><strong>Confirm</strong></h1>
    {{else if section.body}}
        <FwNotifications @outlet="modal-top" />
        {{{_model.message}}}
    {{else if section.footer}}
        <FwPromiseButton @class="btn btn-sm" @buttonText={{_model.confirmButtonText}} @buttonStyle={{_model.confirmButtonStyle}} @buttonIcon={{_model.confirmButtonIcon}} @promise={{action "confirm"}} />

        <button type="button" class="btn btn-danger btn-sm pull-right" {{action "closeModal"}}>
            <i class={{_model.closeButtonIcon}}></i>
            {{_model.closeButtonText}}
        </button>
    {{/if}}
</FwContentBox>
