<FwContentBox as |section|>
    {{#if section.header}}
        <h1 class="panel-title"><strong>Alert</strong></h1>
    {{else if section.body}}
        {{{_model.message}}}
    {{else if section.footer}}
        <button type="button" class="btn btn-{{_model.closeButtonStyle}} btn-sm pull-right" {{action "closeModal"}}>
            <i class="{{_model.closeButtonIcon}}"></i>
            {{_model.closeButtonText}}
        </button>
    {{/if}}
</FwContentBox>
