// make the dropdown menu more panel like
.dropdown-menu {
    border-radius: 10px;
}

// fix too much padding on dropdowns causing tall letters to be cut off
.form-control {
     padding: 5px 12px;
}

// fix wrong font color in info icons
.fw-info-icon .popover {
    color: initial;
}

// bring popover to the top
.popover {
    z-index: 9999;
}

.form-group.has-success label.control-label {
    color: initial;
}

.form-group.has-success input.form-control {
    border-color: $c-main;
    &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $c-main;
    }
}

.form-group.has-success textarea.form-control {
    border-color: $c-main;
    &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $c-main;
    }
}
.form-group.has-success select.form-control {
    border-color: $c-main;
    &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $c-main;
    }
}
.form-group.has-success .input-group-addon {
    color: $gray;
    background-color: $gray-lighter;
    border-color: $c-main;
}

// colors for character count
.characters-remaining-over {
    color: $c-danger;
}
.characters-remaining {
    color: $c-background;
}

//overrides for container
@media (min-width: 1200px) {
    .container {
        //original 1170px
        width: 95vw;
    }
}
