.space-0 {
    margin: 0;
    padding: 0;
}

.vcenter-outer {
    display: table;
    height: 100%;
    width: 100%;

    .inner {
        display: table-cell;
        vertical-align: middle;
        margin: 0 auto;
        text-align: center;
    }
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid $c-border;
}

// font awesome character icons
// pair with a font awesome name for a plain letter
.fac {
    @include fa-icon;
    text-rendering: auto;

    // custom font
    font-family: "Arial Black", Arial;
    font-weight: 900;

    // other fa props
    &.#{$fa-css-prefix}-pull-left { margin-right: .3em; }
    &.#{$fa-css-prefix}-pull-right { margin-left: .3em; }
}

/**
 * Class to make an icon not normally crossout have a slash through it
 */
.fa-crossout:after {
    content: "\\";
    position: absolute;
    font-size: 1.5em;
    margin-left: -0.4em;
    margin-top: -0.25em;
    text-shadow: -1px 0 $c-accent-mix;
    -moz-transform:    skew(15deg, 15deg);
    -o-transform:      skew(15deg, 15deg);
    -webkit-transform: skew(15deg, 15deg);
    transform:         skew(15deg, 15deg);
}

/**
 * Stop text areas from resizing
 */
.resize-vertical {
    resize: vertical;
}

/** Make input group buttons color properly */
.input-group-addon.btn-primary {
    @extend .btn-primary;
}
.input-group-addon.btn-danger {
    @extend .btn-danger;
}

/** Standard flex container support */
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
