// Colors
$c-main: #7E3DB7 !default;
$c-lightness: 10% !default;
$c-background-mix: #a8a8a8 !default;
$c-accent: lighten($c-main, $c-lightness) !default;
$c-background: mix($c-main, $c-background-mix, 25%) !default;
$c-accent-mix: mix($c-accent, #e9e9e9, 10%);
$c-panel-mix: mix($c-main, #e9e9e9, 15%);
$c-border: mix($c-main, #333, 70%);
$c-flip: inherit !default;
$c-charcoal: #2B3E42 !default;
$c-success: #2FB02F;
$c-warning: #E2DB2F;
$c-danger: #DF2210;
$c-info: #A8A8A8;

// Typography
$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 16px;
$text-color: #000;

// Brand styling (bootstrap overrides)
$body-bg: $c-background;
$brand-primary: $c-main;
$brand-success: $c-success;
$brand-danger: $c-danger;

// Panels
$panel-bg: $c-panel-mix;
$panel-border-radius: 10px;
$panel-default-heading-bg: inherit;
$panel-footer-bg: inherit;
$panel-default-border: $c-border;
$panel-inner-border: $c-background;

// Inputs
$input-border: $c-main;
$input-border-focus: $c-main;
$input-bg: $c-accent-mix;

// Dropdowns
$dropdown-link-hover-bg: $c-accent;
$dropdown-link-hover-color: $c-flip;
$dropdown-bg: $c-panel-mix;
$dropdown-border: $c-border;

// States (error, success, warning, etc.)
$state-success-border: $c-success;
$state-success-text: $c-success;
$state-danger-border: $c-danger;
$state-danger-text: $c-danger;
$state-warning-border: $c-warning;
$state-warning-text: $text-color;
$state-info-border: $c-info;
$state-info-text: $text-color;

// Alerts
$alert-success-bg: $c-accent-mix;
$alert-danger-bg: $c-accent-mix;
$alert-warning-bg: $c-accent-mix;
$alert-info-bg: $c-accent-mix;

// Buttons
$btn-default-border: $c-border;
$btn-default-bg: $c-accent-mix;
$btn-default-color: $c-charcoal;
$btn-primary-border: $c-main;
$btn-primary-bg: $c-accent-mix;
$btn-primary-color: $c-main;
$btn-primary-hover: $c-panel-mix;
$btn-danger-border: $c-danger;
$btn-danger-color: $c-danger;
$btn-danger-bg: $c-accent-mix;

// Tables
$table-bg: $c-accent-mix;
$table-border-color: $c-border;
$table-bg-accent: $c-panel-mix;

// font awesome config
$fa-font-path: "fontawesome";
