<div class="panel panel-default">
    <header class="panel-heading has-error">
        <strong class="panel-title control-label">{{model.status}} Request Error</strong>
    </header>
    <section class="panel-body">
        {{!-- If the error is JSON, use its given message --}}
        {{#if model.payload.message}}
            <p>{{model.payload.message}}</p>
        {{!-- Otherwise just give the whole payload in preformatted text --}}
        {{else if model.payload}}
            <pre>{{model.payload}}</pre>
        {{!-- On the chance that is missing, print the error message --}}
        {{else}}
            <p>{{model.message}}</p>
        {{/if}}
    </section>
    <footer class="panel-footer clearfix">
        <small>
            Try refreshing the page to fix. If that does not work, report the issue to a developer.
        </small>
    </footer>
</div>
